<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLCHTVConnection"
			 connectionString="Data Source=TIN\SQLEXPRESS;Initial Catalog=QLCHTV;Integrated Security=True;Trust Server Certificate=True"
			 providerName="System.Data.SqlClient"
	    />
   </connectionStrings>
</configuration>